<a href="https://colab.research.google.com/github/z0li627/DS-Unit-2-Linear-Models/blob/master/Zoltan_Gaspar_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [25]:
df

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]

In [26]:
df['created'].dtypes

dtype('O')

In [0]:
df['created'] = pd.to_datetime(df['created'])

In [28]:
df['created'].dtypes

dtype('<M8[ns]')

In [29]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [41]:
df['catsdogs'] = ((df['cats_allowed']) & (df['dogs_allowed']))
df['fitandnet'] = ((df['fitness_center']) & (df['high_speed_internet']))
df['perks'] = (df['elevator'] + df['cats_allowed'] + df['hardwood_floors'] + df['dogs_allowed'] + df['doorman'] + df['dishwasher'] + df['swimming_pool'] + df['terrace'] + df['dining_room'] + df['balcony'] + df['exclusive'])
df.head

<bound method NDFrame.head of        bathrooms  bedrooms             created  ... catsdogs fitandnet  perks
0            1.5         3 2016-06-24 07:54:24  ...        0         0      0
1            1.0         2 2016-06-12 12:19:27  ...        1         0      4
2            1.0         1 2016-04-17 03:26:41  ...        0         0      2
3            1.0         1 2016-04-18 02:22:02  ...        0         0      1
4            1.0         4 2016-04-28 01:32:41  ...        0         0      0
...          ...       ...                 ...  ...      ...       ...    ...
49347        1.0         2 2016-06-02 05:41:05  ...        0         0      3
49348        1.0         1 2016-04-04 18:22:34  ...        1         0      5
49349        1.0         1 2016-04-16 02:13:40  ...        1         0      4
49350        1.0         0 2016-04-08 02:13:33  ...        1         0      4
49351        1.0         2 2016-04-12 02:48:07  ...        0         0      1

[48817 rows x 37 columns]>

In [43]:
df['perks'].head

<bound method NDFrame.head of 0        0
1        4
2        2
3        1
4        0
        ..
49347    3
49348    5
49349    4
49350    4
49351    1
Name: perks, Length: 48817, dtype: int64>

In [0]:
train = df[df['created'] < '2016-06-01 00:00:00']
test = df[df['created'] >= '2016-06-01 00:00:00']

In [45]:
train.shape

(31844, 37)

In [46]:
test.shape

(16973, 37)

In [49]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

model = LinearRegression()
target = 'price'
y_train = train[target]
y_test = test[target]

features = ['catsdogs', 'fitandnet']
print(f'Linear Regression, dependent on: {features}')
X_train = train[features]
X_test = test[features]

model.fit(X_train, y_train)
y_pred1 = model.predict(X_train)
mae1 = mean_absolute_error(y_train, y_pred1)
print(f'Train Error: {mae1:.2f} ')

y_pred2 = model.predict(X_test)
mae2 = mean_absolute_error(y_test, y_pred2)
print(f'Test Error: {mae2:.2f} ')

Linear Regression, dependent on: ['catsdogs', 'fitandnet']
Train Error: 1191.42
Test Error: 1186.27

In [50]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept 3444.5755689167568
catsdogs     190.548957
fitandnet    632.604521

In [52]:
y_train.mean()

3575.604007034292

In [53]:
y_test.mean()

3587.0546750721733

In [61]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y = train[target]
mse = mean_squared_error(y, y_pred1)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred1)
r2 = r2_score(y, y_pred1)
print('MSE=', mse)
print('RMSE=', rmse)
print('MAE=', mae)
print('R2=', r2)

MSE= 3066347.702557848
RMSE= 1751.0989985028966
MAE= 1191.4198118670347
R2= 0.012457379649729372

In [62]:
y = test[target]
mse = mean_squared_error(y, y_pred2)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred2)
r2 = r2_score(y, y_pred2)
print('MSE=', mse)
print('RMSE=', rmse)
print('MAE=', mae)
print('R2=', r2)

MSE= 3068770.873820732
RMSE= 1751.7907619977711
MAE= 1186.269504089015
R2= 0.012628740490874923